:root{
    --glowny-jasny: #094089;
    --glowny-ciemny: #043179;
    --tekst-glowny: #ffffff;
    --glowny-jasniejszy: #0d5bc0;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    color: var(--tekst-glowny);
    min-height: 100vh;
}

.naglowek {
    color: black;
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0 0 20px;
    font-family: 'Rajdhani', sans-serif;
}

.glowny-header{
    position: sticky;
    top: 0;
    z-index: 1000;
}

.pasek-gorny{
    background-color: var(--glowny-jasny);
    display: flex;
    padding: 10px 20px;
    border-bottom: 2px solid black;
}

.pasek-dolny{
    background-color: var(--glowny-ciemny);
    border-radius: 0px 0px 15px 15px;
    font-size: 1.3rem;
}

.kontener{
    width: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    align-items:center;
    padding: 0 15px;
    gap: 20px;
}

.przekierowanie-mainpage {
    display: inline block;
    line-height: 0;
}

.logo-img {
    transition: opacity 0.3s;
}

.przekierowanie-mainpage:hover .logo-img {
    opacity: 0.6;          
}

.wyszukiwarka{
    flex-grow: 1;
    margin: 0 30px;
    display: flex;
    border: 5px;
    border-radius: 20px;
    border: 1px solid var(--tekst-glowny);
}

.wyszukiwarka input {
    padding: 17px 10px;
    color: #ffffff;
    border:0;
    width: 100%;
    background: transparent;
    font-weight: bold;
    outline: none;
    border-radius: 20px 0 0 20px;
    transition: 0.3s ease;
}

.wyszukiwarka input:focus {
    color: black;
    background-color: #ffffff;
    border-radius: 20px 0 0 20px;
}

.wyszukiwarka button {
    color: var(--tekst-glowny);
    border:0;
    background: transparent;
    padding: 0 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.wyszukiwarka button:hover {
    background-color: var(--glowny-jasniejszy);
    transform: scale(1.05);
}

.wyszukiwarka button:active {
    transform: scale(1.02)
}

.konto-menu {
    display: inline-block;
    position: relative;
}

.konto-menu button{
    color: var(--tekst-glowny);
    background-color: var(--glowny-jasny);
    text-decoration: none;
    cursor: pointer;
    border: 1px solid var(--tekst-glowny);
    border-radius: 25px;
    padding: 15px;
    transition: background-color 0.2s ease, border-radius 0.3s ease;
}

.konto-menu button:hover {
    background-color: var(--glowny-jasniejszy);
}

.konto-menu a {
    display: block;
    color: var(--tekst-glowny);
    text-decoration: none; 
    padding: 15px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.konto-menu .rozwijane-menu{
    position: absolute;
    top: 100%;
    right: 0;
    
    border: 1px solid var(--tekst-glowny);
    background-color: var(--glowny-jasny);
    border-radius: 15px;
    min-width: 160px;
    padding: 5px;
    margin-top: 10px;
    
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    z-index: 100;
}

.konto-menu .rozwijane-menu a {
    white-space: nowrap;
}

.konto-menu:hover .rozwijane-menu {
    opacity: 1;
    visibility: visible;
    box-shadow: rgba(0, 0, 0, 0.5);
    transform: translateY(0);

}

.konto-menu a:hover {
    background-color: var(--glowny-jasniejszy);
}


.kafelki ul{
    list-style: none;
    background-color: var(--glowny-ciemny);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
    overflow: hidden;
}

.kafelki a {
    color: var(--tekst-glowny);
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    display: block;
    text-align: center;
    border-radius: 12px 12px 12px 12px;
    transition: background-color 0.3s ease;
}

.kafelki a:hover {
    background-color: var(--glowny-jasniejszy);
}

.kafelki li {
    float: left;
}

.stopka {
    text-align: center;
    background-color: var(--glowny-jasny);
    border-radius: 15px 15px 0 0;
    padding: 20px;
}
